// $globe-font-style : "Helvetica Neue", Helvetica,Arial, "Microsoft Yahei", "STHeiti", "微軟正黑體" ,sans-serif;
$globe-font-style : "Lato", "Helvetica Neue", Helvetica,Arial, "Hiragino Kaku Gothic ProN", "Hiragino Maru Gothic ProN", "Microsoft Yahei", "STHeiti", "微軟正黑體" ,sans-serif;
$globe-title-font-style : "Helvetica Neue",cambria, georgia, Arial, "Microsoft Yahei", "STHeiti", "微軟正黑體", sans-serif;
$main-color: #FF5831;
$green-color: #FF5831;
$title-color: #333;