<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta name="google-site-verification" content="tAHywxgBn_8n4evuQMiKhPlf82wM6Y1eCjfuLg4JuDA" />
    <meta name="keywords" content="使用者經驗設計,網頁設計,新創" />
    <title>奧革設計 - 創業團隊的設計夥伴</title>

    <meta name="description" content="奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。">
    <meta property="og:site_name" content="奧革設計" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.ogdesign.tw/">
    <meta property="og:title" content="奧革設計 - 創業團隊的設計夥伴" />
    <meta property="og:image" content="http://www.ogdesign.tw/images/og-image.jpg" />
    <meta property="og:description" content="奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。" />
    <meta property="og:locale" content="zh_TW">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/fontello/css/fontello.css">
    <link rel="stylesheet" href="css/fontello/css/animation.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="" ng-app="ogdesign" ng-controller="RootController" ng-class="{'player-open': isOpenPlayer}" ng-cloak mousetrap="{'esc': closePlayer, 'right': next, 'left': prev}">
    <!-- 啟動面 -->
    <div id="launch-screen" class="launch-screen">
        <!-- Video -->
        <div class="video-container">
            <video autoplay="" loop="" muted="" id="" class="video">
                <source src="landing.mp4" type="video/mp4">
                <source src="landing.webm" type="video/webm">
            </video>
        </div>
        <!-- Header -->
        <div class="header">
            <div class="row clear">
                <div class="col col-3 tablet-col-9 mobile-col-1-2">
                    <h1 class="logo">
                        <a href="/">
                            <img src="images/logo.png" alt="奧革設計, OGDeisgn">
                        </a>
                    </h1>
                </div>
                <div class="col col-9 tablet-col-9 mobile-col-1-2">
                    <ul class="nav">
                        <li><a href="/">首頁</a>
                        </li>
                        <li><a href="https://medium.com/奧革設計-startup-studio" target="_blank">部落格</a>
                        </li>
                        <li class=""><a href="http://resources.ogdesign.tw">設計資源</a>
                        </li>
                        <li class="active"><a href="#contact">聯絡我們</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slogan">
            <h2>專注產品體驗、創造商業價值</h2>
            <p>奧革設計是一家<strong>使用者介面設計</strong>及<strong>使用者經驗諮詢</strong>的設計公司，
            <br>我們擅長透過產品思維創造美好的產品體驗。</p>
        </div>
        <div class="aniWrap">
            <div class="mouse">
                <div class="scroller">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <!-- 服務項目 -->
        <div id="services" class="feature-section">
            <div class="feature-content">
                <h2 class="feature-title">服務項目</h2>
                <p>從使用者需求出發，創造最好的產品體驗！</p>
                <div class="row clear services">
                    <div class="service col col-3 mobile-full">
                        <div class="thumbnail" style="background-image: url(images/features/1.svg)"></div>
                        <h4 class="title">網頁設計</h4>
                        <p class="descript">建立您專屬的網站，精美及可靠的動線設計，讓使用者輕鬆體驗您提供的一切。</p>
                    </div>
                    <div class="service col col-3 mobile-full">
                        <div class="thumbnail" style="background-image: url(images/features/2.svg)"></div>
                        <h4 class="title">App 應用設計</h4>
                        <p class="descript">專注在移動端的設計體驗，美學及使用者經驗都是我們設計的初衷。</p>
                    </div>
                    <div class="service col col-3 mobile-full">
                        <div class="thumbnail" style="background-image: url(images/features/3.svg)"></div>
                        <h4 class="title">產品雛形快速開發</h4>
                        <p class="descript">利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。</p>
                    </div>
                    <div class="service col col-3 mobile-full">
                        <div class="thumbnail" style="background-image: url(images/features/4.svg)"></div>
                        <h4 class="title">產品體驗優化諮詢</h4>
                        <p class="descript">針對產品概念與介面設計，提供咨詢的服務，力求找出更好的流程與想法。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 案例展示 -->
        <div id="showcases" class="feature-section dark">
            <div class="feature-content">
                <h2>設計案例</h2>
                <p>我們對於每一項作品，都盡全力去執行，並且將做到最高品質。</p>
                <div class="gallery">
                    <div class="row clear">
                        <div class="col col-3" ng-repeat="porfolio in porfolios">
                            <a ng-click="openPlayer(porfolio, $index)">
                                <div class="project">
                                    <div class="thumbnail" style="background-image: url(images/portfolio/{{porfolio.thumbnail}})">
                                    </div>
                                    <div class="title">{{porfolio.name}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="button button-outline button-light button-rounded" href="https://www.behance.net/og-design" target="_blank">查看更多案例</a>
                </div>
            </div>
        </div>
        <!-- 合作夥伴 -->
        <div id="testimonials" class="feature-section gray">
            <div class="feature-content">
                <h2 class="feature-title">創業夥伴怎麼說</h2>
                <p>與客戶團隊一起成長、進步，創造最好的產品體驗。</p>
                <div class="row clear">
                    <div class="col col-4 recommend mobile-full">
                        <div class="message">
                            <img class="quote" src="images/quote.svg" alt="">
                            <div class="text">奧革設計對於 UI/UX 的設計讓我們印象深刻，深入使用者行為分析，更兼顧美觀與實用，真是個不可多得的好夥伴！</div>
                        </div>
                        <div class="profile">
                            <div class="thumbnail" style="background-image: url(images/recommenders/will.jpg)"></div>
                            <a class="name" href="https://www.facebook.com/Will.Huang.TW" target="_blank">黃保翕 / Will Huang</a>
                            <div class="company">多奇數位 創辦人</div>
                        </div>
                    </div>
                    <div class="col col-4 recommend mobile-full">
                        <div class="message">
                            <img class="quote" src="images/quote.svg" alt="">
                            <div class="text">奧革設計在使用者體驗與介面設計上非常用心與專業，是產品開發不可缺少的合作夥伴。</div>
                        </div>
                        <div class="profile mobile-full">
                            <div class="thumbnail" style="background-image: url(images/recommenders/felix.jpg)"></div>
                            <a href="https://www.facebook.com/felix.pei" target="_blank" class="name">裴超颿 / Felix Pei</a>
                            <div class="company">Cupoy 創辦人</div>
                        </div>
                    </div>
                    <div class="col col-4 recommend mobile-full">
                        <div class="message">
                            <img class="quote" src="images/quote.svg" alt="">
                            <div class="text">不論是介面、使用者經驗，奧革設計全面地改革 AIESEC 運用網站的方式。</div>
                        </div>
                        <div class="profile mobile-full">
                            <div class="thumbnail" style="background-image: url(images/recommenders/王冠文.jpg)"></div>
                            <a href="https://www.facebook.com/poor1113" target="_blank" class="name">王冠文</a>
                            <div class="company">AIESEC 資訊管理會長</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        ===========   聯絡我們   ===========
        -->
        <div id="contact" class="feature-section light-dark contact-section" style="background-image:url(images/background.png)">
            <div class="feature-content">
                <h2>與我們聊聊</h2>
                <p>需要產品設計上的幫助嗎？
                    <br>我們期待與您聊聊彼此的想法！</p>
                <div class="row">
                    <div class="col col-6 push-1 mobile-full no-mobile">
                        <div class="contact-form">
                            <div class="success-message">
                                <div class="message-icon">
                                    <img src="images/success.svg">
                                </div>
                                <h4 class="message-title">感謝您的來信</h4>
                                <p class="message-content">我們將會盡快與為您聯繫，謝謝。</p>
                            </div>
                            <div class="contact-form-content">
                                <div class="row">
                                    <div class="col col-6">
                                        <label for="">稱呼</label>
                                        <input id="name" maxlength="40" name="first_name" size="20" type="text" placeholder="" required/>
                                        <br>
                                    </div>
                                    <div class="col col-6">
                                        <label for="">信箱</label>
                                        <input id="email" maxlength="80" name="email" size="20" type="text" placeholder="service@ogdesign.tw" required/>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <label for="">告訴我們您的需求</label>
                                        <textarea id="message" name="message" rows="4" type="text" wrap="soft" placeholder="" required></textarea>
                                        <button id="submit-contact" type="submit" name="submit" class="button large rounded blue right" value="提交內容">送出表單</button>
                                        <button id="submitting-contact" class="button large rounded blue right hide" value="提交內容"><i class="icon-spin5 animate-spin"></i> 正在寄送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-4 push-1 mobile-full">
                        <div class="contact-info">
                            <div class="info-title">直接與我們聯繫</div>
                            <div class="info-section">
                                <div class="info-item">電話 : 0927-598-161</div>
                                <div class="info-item">信箱 : <a href="mailto:augus@ogdesign" target="_blank">augus@ogdesign.tw</a></div>
                                <div class="info-item">地址 : <a href="https://goo.gl/maps/onVLLLtmquj" target="_blank">新北市三重區正義北路215號2樓</a></div>
                                <div class="info-item">粉絲團 : <a href="https://www.facebook.com/ogdesign.tw/" target="_blank">https://www.facebook.com/ogdesign.tw/</a></div>
                                <div class="info-item">服務時間 : 週一 ~ 周五 上午10:00 ~ 下午9:00</div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="https://www.facebook.com/ogdesign.tw" data-width="320" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div id="footer" class="footer-wrap">
            <div class="footer feature-section">
                <div class="row clear">
                    <div class="col col-5 logo">
                        <img src="images/footer_logo.png" alt="">
                        <p>共同創造更好的產品！ 馬上與我們聯繫</p>
                    </div>
                    <div class="col col-2 about">
                        <h4 class="footer-title">關於我們</h4>
                        <div class="footer-item"><a href="https://medium.com/奧革設計-startup-studio">部落格</a>
                        </div>
                        <div class="footer-item"><a href="http://resources.ogdesign.tw">設計資源</a>
                        </div>
                    </div>
                    <div class="col col-2">
                        <h4 class="footer-title">服務項目</h4>
                        <div class="footer-item"><a href="">網站設計</a>
                        </div>
                        <div class="footer-item"><a href="">App 設計</a>
                        </div>
                        <div class="footer-item"><a href="">使用性優化</a>
                        </div>
                        <div class="footer-item"><a href="">產品雛形開發</a>
                        </div>
                    </div>
                    <div class="col col-3 contact">
                        <h4 class="footer-title">聯絡我們</h4>
                        <div class="footer-item"><a href="https://www.facebook.com/ogdesign.tw">粉絲團</a>
                        </div>
                        <div class="footer-item">電話 : <a href="tel:+0927598161">0927-598-161</a>
                        </div>
                        <div class="footer-item">電子郵件 : <a href="mailto:augus@ogdesign.tw">augus@ogdesign.tw</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="close-btn" ng-hide="!isOpenPlayer" ng-click="closePlayer()">✕</div>
    <div class="next-btn" ng-hide="!isOpenPlayer" ng-click="next()">›</div>
    <div class="prev-btn" ng-hide="!isOpenPlayer" ng-click="prev()">‹</div>
    <div id="player" class="player" ng-class="{'open': isOpenPlayer}" ng-click="closePlayer()">
        <div ng-show="current == porfolio" ng-repeat="porfolio in porfolios" class="content" ng-click="$event.stopPropagation()" ng-class="{'small': isSmall}">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
            <img ng-if="current == porfolio" ng-src="images/portfolio/full/{{porfolio.full}}" ng-class="{'show': porfolio.full && isOpenPlayer}">
        </div>
        <div class="others" ng-click="$event.stopPropagation()">
            <div class="gallery">
                <div class="row clear">
                    <div class="col col-3" ng-repeat="porfolio in porfolios">
                        <a ng-click="openPlayer(porfolio, $index)">
                            <div class="project" ng-class="{'active': current == porfolio}">
                                <div class="thumbnail" style="background-image: url(images/portfolio/{{porfolio.thumbnail}})">
                                </div>
                                <div class="title">{{porfolio.name}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player-overlay" ng-click="closePlayer()"></div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/angular-google-analytics.min.js"></script>
    <script src="js/jquery.scrolldepth.min.js"></script>
    <script src="js/mousetrap.min.js"></script>
    <script src="js/default.js"></script>
    <script src="js/fastclick.js"></script>
    <div id="fb-root"></div>
    <script>
    
    </script>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=168761746513672&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to your website's ID. -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52653674-2', 'auto');
    ga('send', 'pageview');
    </script>
    <script>
    $(function() {
        $.scrollDepth();
        $.scrollDepth.addElements(['#launch-screen', '#services', '#showcases', '#testimonials', '#contact', '#footer']);
    });
    $(function() {
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 600);
                        return false;
                    }
                }
            });
        });

    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {

        FastClick.attach(document.body);

        $("#submitting-contact").hide();
        $('#name').on('focus', function() {
            Analytics.trackEvent('Contact', 'Focus-Name');
        });
        $('#email').on('focus', function() {
            Analytics.trackEvent('Contact', 'Focus-Email');
        });
        $('#message').on('focus', function() {
            Analytics.trackEvent('Contact', 'Focus-Message');
        });
        $('#submit-contact').on("click", function(evt) {
            evt.preventDefault(); // Don't do default action

            // Replace this with your subdomain!
            var uvSubdomain = "ogdesign";
            // Create an API client (non-trusted) within the UserVoice settings/channels section.  Paste the key only here.
            var uvKey = "wQ9LJaiMepJxkCJelQUAqw";
            // Grab the data we need to send
            var message = $('#message').val();
            var name = $('#name').val();
            var email = $('#email').val();

            $("#submit-contact").hide();
            $("#submitting-contact").show();
            // Execute the JSONP request to submit the ticket
            $.getJSON('https://' + uvSubdomain + '.uservoice.com/api/v1/tickets/create_via_jsonp.json?callback=?', {
                client: uvKey,
                ticket: {
                    message: message,
                    // subject: subject
                },
                name: name,
                email: email
            }).done(function() {
                $('#message').val("");
                $('#name').val("");
                $('#email').val("");
                $('.contact-form').addClass("success");
                // alert('Successfully submitted ticket!'); // You might want to redirect the user here, or show a stylized message to them.
            });
            Analytics.trackEvent('Contact', 'Send', name + '/' + email + '/' + message);
        });
    });
    </script>
    <script src="js/modernizr.js"></script>
    <script src="js/retina.min.js"></script>
</body>

</html>
